.Blue{
    color:blue
   }
.Red{
    color:red
   }
.Green{
    color:green   
   }

.white{
    color:white
}
.black{
    color:black
}
.purple{
    color:purple
}

.pink{
    color:pink
}
.orange{
   color:orange 
}
.indigo{
    color:indigo
}
